body {
    min-width: 500px;
    height: 100vh;
}

.main {
    /* Set the background image */
    background-image: 
        /* Apply a linear gradient that fades from transparent to white */
        linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)),
        /* Set the background image */
        url('../img/Train_Img.jpg');
        background-size: cover;
}